.title {
  margin-top: 40px;
}

.icon {
  margin-left: 5px;
}

.book-list {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
}

.books {
  margin-bottom: 50px;
}
